.EditPasswordImage{
    background-image: url("../assets/images/dark-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .alertContainer {
    max-width: 300px;
    margin: 0 auto;
  }
    
  .formContainer {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .imageContainer {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-bottom: 20px; /* Adjust the margin as needed */
  }
  
  .textH1 {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
    
  .textLabel {
    color: white;
    display: block;
    font-weight: bold;
  }
  
  .textDescription {
    color: white;
    font-size: 15px;
  }