/* styles.css */
/* universal selector - Applies to whole document */
.background{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #151b25;
	color: #8a6a6a;
}

.gridContainer {
	display: flex;
  	flex-direction: row;
	background-color: #2196F3;
	padding: 10px;
}
  
.gridItem {
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	align-items: center;

	display: flex;
	width: 30vw;
	justify-content: space-evenly;
	margin-top: 2rem;
}

/* To center everything in game */
.game{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

/* Title of the game */
.title{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	position: absolute;
	top: 0;
	font-size: 4rem;
	z-index: 2;
}
.Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px; 
  }
  
  .status {
	font-size: 18px;
	margin-top: 10px; 
  }

.score{
	display: flex;
	width: 30vw;
	justify-content: space-evenly;
	position: absolute;
	top: 70px;
	z-index: 1;
}

/* Score */
.p-count,.c-count{
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
}
.button{
	border-radius: 20px;
	width: 70px;
	height: 40px;
	background-color: yellow;
}

/* displaying three buttons in one line */
.options {
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	margin-top: 2rem;
}

.optionscom {
	padding-top: 30px;
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	margin-top: 2rem;
}

/* Styling on all three buttons */
.rock, .paper, .scissor, .rockcom, .papercom, .scissorcom {
	padding: 0.8rem;
	width: 100px;
	border-radius: 10px;
	background: green;
	outline: none;
	border-color: green;
	border: none;
	cursor: pointer;
}

.move{
	font-size: 2rem;
	font-weight: bold;
}

/* Reload button style */
.reload {
	background-image: url(/assets/refresh.png);
	display: none;
	margin-top: 2rem;
	padding: 1rem;
	background: green;
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.result{
	margin-top: 20px;
	font-size: 1.2rem;
}

.Image {
	height: 50px;
	width: 50px;
}
.moveBtn.selected {
	background-color: #10e850; /* Add your desired color for selected moves */
  }

.selected-computer {
	background-color: #ff0000; /* Add your desired color for the computer's chosen move */
  }
  
  
/* Responsive Design */
@media screen and (max-width: 612px)
{
	.title{
		
		text-align: center;
	}
	.score{
		position: absolute;
		top: 200px;
		width: 100vw;
	}
	.options{
		width: 100vw;
	}
}