.HomePageImage{
  background-image: url("../assets/images/dark-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
  
.loginContainer {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.alertContainer {
  max-width: 300px;
  margin: 0 auto;
}
  
.textH2 {
  color: white;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
}
  
.textLabel {
  color: white;
  display: block;
  font-weight: bold;
}

.textDescription {
  color: white;
  font-size: 15px;
}

.linkText {
  color: white;
}
  
.input[type='email'],
.input[type='password'] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: white;
}
  
.buttonStyle[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}